@import url('https://fonts.googleapis.com/css?family=Esteban|Montserrat&display=swap');

.sidebyside {
  display: flex;
}

.centered {
  margin-left: 450px;
  margin-right: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  background-image: url("imgs/papers.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 100% -100%;
}

.logo {
  padding: 20px 650px 0px 20px;
  width: 150px;
  height: auto;
  margin-left: 50px;
}

h2 {
  font-family: "Esteban", serif;
  color: #EBBAB9;
  font-size: 85px;
  padding: 100px 0px 0px 250px;
  margin-bottom: -10px;
  letter-spacing: .02em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #2F2F2F;
  font-size: 110px;
  font-weight: bold;
  margin: -10px 0px 0px 360px;
  letter-spacing: .1em;

}

/* for the nav bar */
nav {
  padding-top: 15px;
  overflow: hidden;
  float: left;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  color: #53599A;
}

h1 {
  display: inline-block;
  margin: 15px 20px 15px 40px;
  font-family: 'Barlow', sans-serif;
  font-size: 15pt;
  color: #53599A;
  letter-spacing: .2em;
}

h1:hover {
  color: #DCC9B6;
}

.selected {
  text-decoration: underline;
}

/* for the buttons */
button {
  border-radius: 20px;
  font-family: 'Esteban', serif;
  font-size: 24px;
  background-color: #EBBAB9;
  border: none;
  color: #2F2F2F;
  width: 150px;
  height: 40px;
  margin: 40px 0px 0px 0px;
}

button:hover {
  background-color: #2F2F2F;
  color: #EBBAB9;
  cursor: pointer;
}
