@import url('https://fonts.googleapis.com/css?family=Esteban|Montserrat&display=swap');

body {
  padding-top: 0;
  color: #2F2F2F;
}

.sidebyside {
  display: flex;
}

.centered {
  margin-left: 30vw;
  margin-right: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.centered2 {
  margin-left: 13vw;
  margin-right: 13vw;
  padding-top: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spread {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selected {
  text-decoration: underline;
}
/*
 .slider {
   height: 100px;
   overflow: hidden;
 }

 .slider h3 {
   height: 100px;
   margin-bottom: 100px;
 }

 @keyframes slider {
   0% {margin-top: -800px;}
   25% {margin-top: -600px;}
   50% {margin-top: -400px;}
   75% {margin-top: -200px;}
   100% {margin-top: 0px;}
 }

 .slider {
   animation: slider 5s linear infinite;
 }*/

#landing {
  background-image: url("imgs/papers.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.logo {
  height: auto;
  margin-left: 5vw;
}

#logo {
  padding: 5vh 40vw 0 0;
  width: 10vw;
}

#longlogo {
  padding: 5vh 30vw 0 0;
  width: 20vw;
}

h2 {
  font-family: "Esteban", serif;
  color: #EBBAB9;
  font-size: 10vh;
  padding: 12vh 0 0 15vw;
  margin-bottom: -1vw;
  letter-spacing: .02em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #2F2F2F;
  font-size: 15vh;
  font-weight: bold;
  margin: -2vh 0 0 13vw;
  letter-spacing: .025em;
}

h4 {
  font-size: 5.5vh;
}

p {
  margin-top: -5vh;
  font-size: 3vh;
}

#text {
  font-family: "Esteban", serif;
  color: #2F2F2F;
  padding-left: 6vw;
  padding-right: 15vw;
}

/* for the nav bar */
nav {
  padding-top: 2vh;
  overflow: hidden;
  float: left;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  color: #53599A;
}

h1 {
  display: inline-block;
  margin: 2vh 2vw 0 1vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  color: #53599A;
  letter-spacing: .2em;
}

h1:hover {
  color: #DCC9B6;
}

a {
  text-decoration: none;
  color: #84ACCE;
}

.selected {
  text-decoration: underline;
}

/* for the buttons */
button {
  border-radius: 20px;
  font-family: 'Esteban', serif;
  font-size: 3vh;
  background-color: #EBBAB9;
  border: none;
  color: #2F2F2F;
  width: 10vw;
  height: 5vh;
  margin: 6vh 0 0 0;
  box-shadow: 2px 2px 5px #2F2F2F;
}

button:hover {
  background-color: #2F2F2F;
  color: #EBBAB9;
  cursor: pointer;
}

h5 {
  font-family: "Esteban", serif;
  font-size: 15vh;
  text-align: center;
  color: #DCC9B6;
}

.aboutus {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
  font-family: "Esteban", serif;
  font-size: 3vh;
}

.profilepic {
  width: 18vw;
}

h6 {
  font-family: "Montserrat", sans-serif;
  color: #EBBAB9;
  font-size: 5vh;
  text-align: center;
}

.title {
  text-align: left;
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.info, li{
  margin-left: 5vw;
  color: #2F2F2F;
  font-size: 4vh;
}

.info2 {
  padding-top: 5vh;
  margin-left: 5vw;
  color: #2F2F2F;
  font-size: 4vh;
}

.option {
  margin-top: 8vh;
  width: 30vh;
  height: 30vh;
  font-family: "Montserrat", sans-serif;
  font-size: 180%;
  letter-spacing: .05em;
}

#emotions {
  width: 60vw;
  padding-top: 5vh;
}

.hidden {
  display: none;
}

#check {
  width: 2vw;
  padding-left: 2vw;
}
